/*/ Global /*/
:root {
  --ijo-outline: #529660;
  --ijo-fill: #529660;
  --abu-fill: #313d39;
  background-image: url("img/bg/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Jersey_25", sans-serif;
}

.logaritma {
  display: none;
}

p,
.text {
  font-family: "Cabin Sketch";
  font-style: normal;
  text-align: center;
  background: transparent;
  border: none;
  color: rgba(138, 219, 134, 0.75);
}

.kartu {
  display: block;
  width: 10vw;
  height: auto;
  box-shadow: 0px 0px 16.5px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border-radius: 1.5vw;
}

.kartu.mati {
  cursor: default !important;
}

button {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, 50%);

  font-family: "Cabin Sketch";
  font-style: normal;
  font-weight: 400;
  font-size: 4vw;
  line-height: 112px;
  text-align: center;
  background: transparent;
  border: none;
  color: rgba(138, 219, 134, 0.75);
}

.wrapper {
  width: 100vw;
  height: 100vh;
  border: 1px solid #000000;
}

button:hover {
  color: rgba(154, 245, 149, 0.75);
  cursor: pointer;
}

.peringatan {
  display: block;
  box-sizing: border-box;

  position: absolute;
  width: 30%;
  height: 20%;
  background: rgba(138, 219, 134, 0.1);
  border: 1px solid rgba(138, 219, 134, 0.5);
  border-radius: 10px;
  bottom: 2vh;
  right: 2vh;
  z-index: 20;
  cursor: pointer;
  opacity: 1;
  transition: opacity 1s;
}

.peringatan.fade-out {
  opacity: 0;
}

.peringatan img {
  position: absolute;
  bottom: 0px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.peringatan p1 {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Jersey 25";
  font-size: 1.2em;
  color: var(--ijo-fill);
}

.inactive {
  display: none !important;
}

.hidden {
  opacity: 0 !important;
}

/*/ Menu Awal /*/

/* Tombol Tambah & Joker */
.tombolTambah img {
  display: block;
  height: auto;
  width: 7vw;
}

.tambahKananAtas,
.jokerKananAtas {
  position: absolute;
  right: 3%;
  top: 4%;
}

.tambahKananBawah,
.jokerKananBawah {
  position: absolute;
  right: 3%;
  bottom: 4%;
}

.tambahKiriAtas,
.jokerKiriAtas {
  position: absolute;
  left: 3%;
  top: 4%;
}

.tombolTambah {
  width: auto;
  height: auto;
  cursor: pointer;
}

.jokerKiriBawah {
  position: absolute;
  left: 3%;
  bottom: 4%;
  transform: rotate(9.45deg);
  box-shadow: -10px 10px 16.5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 1.5vw;
}

.jokerKiriAtas {
  transform: rotate(-9.45deg) scaleY(-1);
  box-shadow: -10px 10px 16.5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-radius: 1.5vw;
}

.jokerKananAtas {
  transform: rotate(9.45deg) scaleY(-1);
  box-shadow: 10px 10px 16.5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 1.5vw;
}

.jokerKananBawah {
  transform: rotate(-9.45deg);
  box-shadow: 10px 10px 16.5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 1.5vw;
}

.kartuJoker {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
}

/* Judul */
.judul p1,
.judul p2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-transform: lowercase;
  font-family: "Jersey 25";
  font-style: normal;
  font-weight: 400;
  font-size: 7em;
  text-align: center;

  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.judul p1 {
  z-index: 2;
}

.judul p2 {
  top: 41%;
  color: var(--ijo-outline);
  z-index: 1;
}

/* Tombol Acak */
.tombolAcak {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, 50%);
}

#textAcak:hover {
  filter: brightness(120%);
}

#textAcak.mati:hover {
  filter: brightness(100%);
}

#textAcak {
  font-family: "Cabin Sketch";
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  text-align: center;
  color: rgba(138, 219, 134, 0.75);
  position: relative;
  top: 0px;
  margin: 0px;
}

#garis {
  position: relative;
  left: 50%;
  width: 15vw;
  transform: translate(-50%, -50%);
}

/* Menu Bawah */
.menuBawah {
  position: relative;
  display: flex;
  gap: 15px;
  justify-content: center;

  top: 90vh;
}

.menuBawah img {
  width: 4vw;
}

.menuBawah p {
  position: absolute;
  text-align: center;
  width: 4vw;
  bottom: 75%;
}

#tutorial,
#kredit,
#musik,
#bahasa,
#f11 {
  opacity: 0%;
}

.menuBawah .aktif {
  opacity: 50% !important;
}

/*Menu Tutorial*/
.dimmer img {
  position: absolute;
  z-index: 9;
  opacity: 80%;
  top: 0px;
}
.gambarTutorial img {
  position: absolute;
  width: 40%;
  z-index: 10;
  margin: 0;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid var(--ijo-outline);
}

.teksTutorial {
  position: absolute;
  width: 50%;
  height: 30%;
  z-index: 10;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.7em;
  font-family: "Jersey 25";
  color: var(--ijo-outline);
  text-align: justify;
  display: inline-block;
}

.tombolSelanjutnya img,
.tombolSebelumnya img {
  position: absolute;
  z-index: 15;
  top: 50%;
  right: 15%;
  transform: translate(-50%, -50%) rotate(180deg) scale(0.7);
}

.tombolKembali img {
  position: absolute;
  z-index: 11;
  width: 13.5vw;
  left: 12.5%;
  top: 5%;
}

/*Menu Kredit*/
.judulKredit p1,
.judulKredit p3 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-transform: lowercase;
  font-family: "Jersey 25";
  font-size: 7em;
  text-align: center;

  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.judulKredit p1 {
  z-index: 2;
}

.judulKredit p3 {
  top: 21%;
  color: var(--ijo-outline);
  z-index: 1;
}

.kontributor p1,
.kontributor p2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  font-family: "Jersey 25";
  font-size: 5em;
  text-align: center;

  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.kontributor p1 {
  z-index: 2;
}

.kontributor p2 {
  top: 51%;
  color: var(--ijo-outline);
  z-index: 1;
}

.kontributor p3 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  font-family: "Cabin Sketch";
  font-style: normal;
  text-align: center;
  font-size: 3em;
  background: transparent;
  border: none;
  color: rgba(138, 219, 134, 0.75);
}

.menuKredit.aktif {
  display: block !important;
}

/* ingame */
.inGame {
  height: 0;
}

/*4 kartu*/
.empatKartu {
  display: flex;
  gap: 0.8rem;
  width: fit-content;
  position: relative;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
}

.empatKartu img {
  box-shadow: 0px 0px 16.5px 2px rgba(0, 0, 0, 0.25);
  order: 1;
}

.kartuPosisi {
  opacity: 0;
}

/*Kartu As*/
.kartuAs {
  position: absolute;
  top: 30vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 20;
}

.kartuAs img {
  width: 4vw;
}

/*Tombol Operasi*/
.operasi {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: fit-content;
  position: relative;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
  border-top: 1px solid transparent;
}

.tombolOperasi {
  display: block;
  width: 6.5vw;
  height: auto;
}

.tombolOperasiSamping {
  display: block;
  width: 6vw;
  height: auto;
  cursor: pointer;
}

.operasi2Angka,
.operasi1Angka {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  width: fit-content;
}

.operasi1Angka {
  position: absolute;
  top: 110%;
}

#operasiKosong {
  visibility: hidden;
}

#tombolUndo,
#tombolAcakInGame {
  position: absolute;
}

#tombolUndo {
  top: 50vh;
  left: 20%;
  transform: translateY(-50%);
}

#tombolAcakInGame {
  top: 50vh;
  right: 20%;
  transform: translateY(-50%);
}

/* Counter */

.counter img {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 10vw;
  transform: translate(-50%);
}

#textCounter {
  position: absolute;
  width: 4vw;
  margin-top: 0.5rem;
  font-size: 1.8rem;
  top: 0%;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
  opacity: 0.7;
  display: inline-block;
}

/* Skor */
.skorKiri img,
.skorKanan img {
  margin: 0;
  width: 6vw;
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
}

.skorKanan img {
  right: 0;
}

#skorKiriAtas,
#skorKiriBawah,
#skorKananAtas,
#skorKananBawah {
  margin: 0;
  width: 3vw;
  position: absolute;
  text-align: center;
  margin-left: 0.5rem;
  font-size: 3vw;
  opacity: 0.7;
  display: inline-block;
}

#skorKiriAtas,
#skorKananAtas {
  top: 40vh;
}

#skorKiriBawah,
#skorKananBawah {
  bottom: 40vh;
}

#skorKananAtas,
#skorKananBawah {
  right: 0;
  margin-right: 0.5rem;
}

/*Tombol Pembukti*/
.pembukti {
  display: block;
  width: 5vw;
  height: auto;
  cursor: pointer;
}

.pembukti.nyala,
.pembukti.mati {
  cursor: default !important;
}

#pembuktiKananAtas {
  position: absolute;
  right: 8%;
  top: 35%;
}

#pembuktiKananBawah {
  position: absolute;
  right: 8%;
  bottom: 35%;
}

#pembuktiKiriAtas {
  position: absolute;
  left: 8%;
  top: 35%;
}

#pembuktiKiriBawah {
  position: absolute;
  left: 8%;
  bottom: 35%;
}

.pembukti.nyala {
  filter: brightness(150%);
}

/*Kalkualtor*/
.kalkulator img {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 10%;
  transform: translate(-50%, -50%);
}

.kalkulator p {
  font-size: 2rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(85%);
}

.kalkulator {
  opacity: 0;
}

.kalkulator.aktif {
  animation: fadeInOut 3s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*/ AFTERGAME /*/
.afterGame {
  outline: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.afterGame p {
  font-size: 6vw;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem;
}

/*properti 52 kartu*/
.kartuUtama {
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.kartuUtama.mouseover {
  outline: 3px solid rgba(1, 228, 160, 0.75);
  border-radius: 1.5vw;
  cursor: pointer;
}

.kartuUtama.gelap {
  outline: none !important;
  cursor: default !important;
}

.kartuUtama.nyala {
  outline: 3px solid #009e6f;
  box-shadow: 0px 0px 16.5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 1.5vw;
}

/*ingame interactive*/

.mati:hover {
  outline: none !important;
  cursor: default !important;
}

.highlight:hover {
  filter: brightness(125%);
  cursor: pointer;
}

.joker.mati:hover {
  outline: none !important;
  cursor: default !important;
}

.joker.mati * {
  cursor: default !important;
}

.gelap {
  filter: brightness(80%);
}
